@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Admin Username : noreply@your-domain.com</p>
<p>Admin Password : password</p>

<ul>
    <li>UI is basic</li>
    <li>Using viewcomponets with jQuery for manage courses instead of reloading the page everytime but not complete</li>
</ul>
