@model IEnumerable<EnrollmentViewModel>

<h3>My Classes</h3>
<ul>
    @foreach (var enrollment in Model)
    {
        <li>@enrollment.Title   "   " @enrollment.Credits "  "@enrollment.NumberEnrolled"/"@enrollment.CourceCapacity</li>
    }
</ul>